body {
    margin: 60px 75px;
    font-family: 'Anek Devanagari', 'Nunito';
    color: #222222;
}

h1 {
    color: #00005C;
    font-size: 45px;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 1px;
    margin-right: 200px;
    margin-bottom: 0px;
    padding: 30px 0px;
}

h2 {
    color: #00005C;
    font-size: 28px;
    margin: 0px;
}

a {
    color: #222222;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 22px;
    margin-bottom: 5px;
}

.author {
    margin-right: 5px;
}

.conference {
    margin-bottom: 50px;
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

.AD-WIZARD-images {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1000px) {
    #DOROTHIE {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    #TOTO {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1300px) {
    #CO-WIZARD {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto;
    }
}
