body {
    font-family: 'Anek Devanagari', 'Nunito';
    color: #222222;
    margin: 60px 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00005C;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    display: none;
}

li {
    display:block;
    color: white;
    padding: 14px 16px;
}
h1 {
    color: #00005C;
    font-size: 45px;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 1px;
    margin-right: 200px;
    margin-bottom: 0px;
    padding: 30px 0px;
}

.sm-view {
    display: inline-block;
}

.lg-view {
    display: none;
}

h2 {
    color: #00005C;
    font-size: 28px;
    margin: 0px;
}

a {
    color: #222222;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 22px;
    margin-bottom: 5px;
}

.author {
    margin-right: 5px;
}

.conference {
    margin-bottom: 50px;
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

.AD-WIZARD-images {
    display: flex;
    flex-wrap: wrap;
}

.AD-images {
    max-width: 300px;
}

.responsive-iframe { position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
  
  
iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 400px) {
    .AD-images {
        flex-grow: 1;
    }
}

@media (min-width: 800px) {
    .sm-view {
        display: none;
    }
    
    .lg-view {
        display: inline-block;
    }
}

@media (min-width: 1000px) {
    #DOROTHIE {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    #TOTO {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    #EXAMPLE {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    iframe {
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1300px) {
    #CO-WIZARD {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto;
    }

    .AD-WIZARD-images {
        display: block;
        text-align: center;
    }

    .AD-images {
        display: inline-block;
        width: 300px;
    }

    .AD-images + .AD-images {
        margin-left: 80px;
    }
}
